{% extends 'base.html' %}
{% load staticfiles %}
{% load mptt_tags %}

{% block title_block %}
    Wall
{% endblock %}

{% block menu_btn %}

{% endblock %}

{% block content %}
    <div class="starter-template">
        {% if user.is_authenticated %}
            <form method="post" class="msg-form" action="{% url 'message_create' %}">{% csrf_token %}
                {{ form.errors }}
                <label for="message_input">Type message</label>
                <textarea required name="text" id="message_input" class="form-control mb-2" rows="3">{{ text|default:"" }}</textarea>
                <input type="hidden" name="user" value="{{ user }}">
                <input type="submit" class="btn btn-success mb-2" value="Send">
            </form>
        {% else %}
            <div class="row justify-content-center"><p>For sending messages please <a href="{% url 'login' %}">login</a></p></div>
        {% endif %}

        <p class="show-all-btn"><u>Show All</u></p>

        {% include 'wall/message_block.html' %}

    </div>
        <p id="loading">
            <img src="{% static 'style/images/Spinner.gif' %}" alt="Loading…" />
        </p>
{% endblock %}

{% block js_block %}
    <script type="text/javascript">
        $(document).ready(function(){
            var csrftoken = getCookie('csrftoken');

            init_comment();
            init_change_comment();
            init_change_message();

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            var win = $(window);

            win.on("scroll", function() {
                if ($(document).height() - win.height() == win.scrollTop()) {
                    $('#loading').show();
                    var num_page = $('.page-number');
                    num_page.remove();
                    $.ajax({
                        url: '{% url 'next_page' %}',
                        method: 'POST',
                        data: {"page": num_page.text()},
                        dataType: 'html',
                        success: function(resp) {
                            console.log(resp);
                            $('.starter-template').append(resp);
                            $('#loading').hide();
                            init_comment();
                            init_change_comment();
                            init_change_message();
                        }
                    });
                }
            });

            $('.show-all-btn').click(function () {
                win.off("scroll");
                $('.show-all-btn').hide();
                $('#loading').show();
                $('.msg').remove();
                $('.page-number').remove();
                $.ajax({
                    url: '{% url 'next_page' %}',
                    method: 'POST',
                    data: {"page": 'all'},
                    dataType: 'html',
                    success: function(resp) {
                        console.log(resp);
                        $('.starter-template').append(resp);
                        $('#loading').hide();
                        init_comment();
                        init_change_comment();
                        init_change_message();
                        }
                    });
            });


            var csrftoken = getCookie('csrftoken');

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        });

        function init_change_comment() {
            $('.change-btn').click(function() {
                $('.change-comm-form').remove();
                var msg_id = $(this).parent().children('.msg-id').text();
                var comm_id = $(this).parent().children('.comm-id').text();
                var msg_text = $(this).parent().children('.msg-text').text();

                var form =
                "                        <form method=\"post\" class=\"change-comm-form form-inline\" action=\"{% url 'comment_change' %}\">{% csrf_token %}\n"
                +
                "                            <div class=\"form-group\">" +
                "                               <input type=\"text\" name=\"text\" class=\"form-control\" placeholder=\"Type comment\" value=" + msg_text + " required>\n" +
                "                            </div>"+
                "                            <input type=\"hidden\" name=\"id\" value="+ comm_id +">\n"+
                "                            <input type=\"hidden\" name=\"user\" value=\"{{ user }}\">\n"+
                "                            <input type=\"hidden\" name=\"message\" value=" + msg_id +">\n"+
                "                            <input type=\"submit\" class=\"btn btn-success\" value=\"Send\">\n"+
                "                            <input type=\"button\" class=\"btn-cancel btn btn-secondary\" value=\"Cancel\">\n"+
                "                        </form>\n";

                $(this).after(form);
                $('.btn-cancel').click(function () {
                    $('.change-comm-form').remove();
                    $('.change-btn').show();
                });
                $(this).hide();
            });
        }

        function init_change_message() {
            $('.change-msg-btn').click(function() {
                $('.change-msg-form').remove();
                var msg_id = $(this).parent().children('.msg-id').text();
                var msg_text = $(this).parent().children('.msg-text').text();

                var form = "     <form method=\"post\" class=\"change-msg-form\" action=\"{% url 'message_change' %}\">{% csrf_token %}\n" +
                    "                {{ form.errors }}\n" +
                    "                <label for=\"message_input\">Type message</label>\n" +
                    "                <textarea required name=\"text\" id=\"message_input\" class=\"form-control mb-2\" rows=\"3\">" + msg_text + "</textarea>\n" +
                    "                <input type=\"hidden\" name=\"user\" value=\"{{ user }}\">\n" +
                    "                <input type=\"hidden\" name=\"id\" value=" + msg_id + ">\n" +
                    "                <input type=\"submit\" class=\"btn btn-success mb-2\" value=\"Send\">\n" +
                    "                <input type=\"button\" class=\"btn-cancel btn btn-secondary mb-2\" value=\"Cancel\">\n"+
                    "            </form>";

                $(this).after(form);
                $('.btn-cancel').click(function () {
                    $('.change-msg-form').remove();
                    $('.change-msg-btn').show();
                });
                $(this).hide();
            });
        }


        function init_comment() {
            $('.comm-btn').click(function() {
                $('.comm-form').remove();
                var msg_id = $(this).parent().children('.msg-id').text();
                var comm_id = $(this).parent().children('.comm-id').text();

                var form = "{% if user.is_authenticated %}\n"+
                "                        <form method=\"post\" class=\"comm-form form-inline\" action=\"{% url 'comment_create' %}\">{% csrf_token %}\n"
                +
                "                            <div class=\"form-group\">" +
                "                               <input type=\"text\" name=\"text\" class=\"form-control\" placeholder=\"Type comment\" value=\"{{ text|default:'' }}\" required>\n" +
                "                            </div>"+
                "                            <input type=\"hidden\" name=\"parent\" value="+ comm_id +">\n"+
                "                            <input type=\"hidden\" name=\"user\" value=\"{{ user }}\">\n"+
                "                            <input type=\"hidden\" name=\"message\" value=" + msg_id +">\n"+
                "                            <input type=\"submit\" class=\"btn-send btn btn-success\" value=\"Send\">\n"+
                "                            <input type=\"button\" class=\"btn-cancel btn btn-secondary\" value=\"Cancel\">\n"+
                "                        </form>\n"+
                "                        {% else %}\n"+
                "                            <div class=\"comm-form\">\n"+
                "                                <p>For sending comment please <a href=\"{% url 'login' %}\">login</a></p>\n"
                +
                "                            </div>\n"+
                "                        {% endif %}";

                $(this).after(form);
                $('.btn-cancel').click(function () {
                    $('.comm-form').remove();
                    $('.comm-btn').show();
                });
                $(this).hide();
            });
        }

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
    </script>
{% endblock %}
