{% extends 'base.html' %}
{% load mptt_tags %}

{% block title_block %}
    Wall
{% endblock %}

{% block content %}
    <div class="starter-template">
        <ul class="pagination justify-content-center">
            {% if page.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page.previous_page_number }}">Previous</a></li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="?page={{ page.number }}">Page {{ page.number }} of {{ page.paginator.num_pages }}</a></li>
            {% if page.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page.next_page_number }}">Next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page.paginator.num_pages }}">&raquo;</a></li>
            {% endif %}
        </ul>

        {% if user.is_authenticated %}
            <form method="post" class="msg-form" action="{% url 'message_create' %}">{% csrf_token %}
                {{ form.errors }}
                <label for="message_input">Type message</label>
                <textarea required name="text" id="message_input" class="form-control mb-2" rows="3">{{ text|default:"" }}</textarea>
                <input type="hidden" name="user" value="{{ user }}">
                <input type="submit" class="btn btn-success mb-2">
            </form>
        {% else %}
            <div class="row justify-content-center"><p>For sending messages please <a href="{% url 'login' %}">login</a></p></div>
        {% endif %}
        {% if messages %}
            {% for msg in messages %}
                <div class="msg">
                    <div class="msg-item" >
                        <div class="msg-info">
                            <div class="msg-author">{{ msg.message.user }}</div>
                            <div class="msg-date">{{ msg.message.created }}</div>
                        </div>
                        <div class="msg-text">{{ msg.message.text }}</div>
                        {% if user.is_authenticated %}
                        <form method="post" class="comm-form form-inline" action="{% url 'comment_create' %}">{% csrf_token %}
                            <input type="text" name="text" id="com-msg-{{ msg.message.id }}" class="form-control" placeholder="Type comment" value="{{ text|default:'' }}" required>
                            <input type="hidden" name="parent" value="">
                            <input type="hidden" name="user" value="{{ user }}">
                            <input type="hidden" name="message" value="{{ msg.message.id }}">
                            <input type="submit" class="btn btn-success">
                        </form>
                        {% else %}
                            <div class="comm-form">
                                <p>For sending comment please <a href="{% url 'login' %}">login</a></p>
                            </div>
                        {% endif %}
                    </div>
                        <ul>
                        {% recursetree msg.comment %}
                            <li class="com-item">
                                <div class="msg-info">
                                    <div class="msg-date">{{ node.created }}</div>
                                    <div class="msg-author">{{ node.user }}</div>
                                </div>
                                <div class="msg-text">{{ node.text }}</div>
                                {% if user.is_authenticated %}
                                <form method="post" class="form-inline comm-form" action="{% url 'comment_create' %}">{% csrf_token %}
                                    <input type="text" name="text" id="com-com-{{ node.id }}" class="form-control" placeholder="Type comment" value="{{ text|default:'' }}" required>
                                    <input type="hidden" name="parent" value="{{ node.id }}">
                                    <input type="hidden" name="user" value="{{ user }}">
                                    <input type="hidden" name="message" value="{{ msg.message.id }}">
                                    <input type="submit" class="btn btn-success">
                                </form>
                                {% else %}
                                    <div class="comm-form">
                                        <p>For sending comment please <a href="{% url 'login' %}">login</a></p>
                                    </div>
                                {% endif %}
                                {% if not node.is_leaf_node %}
                                    <ul class="children">
                                        {{ children }}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endrecursetree %}
                        </ul>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    
{% endblock %}

{% block js_block %}
        <script type="text/javascript">
        $(document).ready(function(){
        $('.comm-form').hide();
        $('.msg-text').click(function(){
            $(this).next().toggle()});
        });
    </script>
{% endblock %}






